
* {
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-background-color: black;
}


.configWindow {

    -fx-border-color: lightgrey;
    -fx-text-fill: lightgrey;
    -fx-background-color: black;
    -fx-font-size: 12px;
}
.rotorPosBox {

    -fx-border-color: lightgrey;
    -fx-text-fill: lightgrey;
    -fx-background-color: black;
    -fx-font-size: 12px;
}
.rotorPosCon {
    -fx-border-color: lightgrey;
    -fx-text-fill: lightgrey;
    -fx-background-color: black;
    -fx-font-size: 12px;
}

.rotorPosText {
    -fx-border-color: lightgrey;
    -fx-text-fill: lightgrey;
    -fx-background-color: black;
    -fx-font-size: 12px;
}

.errorHelper {
    -fx-border-color: lightgrey;
    -fx-text-fill: lightgrey;
    -fx-background-color: black;
    -fx-font-size: 12px;
}