
* {
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-size: 13px;
    -fx-border-style: none none dotted none;
}

.whiteBorder {
    -fx-border-color: white;
}

<<<<<<< HEAD
=======
.whiteBorder TableColumn{
    -fx-border-color: white;

}
>>>>>>> 6c41c6a15ed31aad3c57bfe79844d8b0215ecfbb
.greyBtn{
    -fx-border-color: lightgrey;
    -fx-background-color: black;
    -fx-font-size: 15px;
    -fx-text-fill: lightgrey;
}

.greenBtn{
    -fx-border-color: lightgreen;
    -fx-background-color: black;
    -fx-font-size: 15px;

    -fx-text-fill: lightgreen;
}

